<!DOCTYPE html>
<html lang="en">
<head>
<title>OfLive</title>
<link rel="stylesheet" type="text/css" media="screen" href="ui/style/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="ui/style/menu_dropdown.css" />
<link rel="stylesheet" type="text/css" media="screen" href="ui/style/popup.css" />
<link rel="stylesheet" type="text/css" media="screen" href="ui/style/table.css" />

</head>
<body>

 <canvas id="progresscanvas" width="1024" height="768" ></canvas>
    
<div id="application" style="display: none;">
    <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
    <textarea id="output" rows="8" ></textarea>
</div>

<div id="top_editor" style="display: none;">
<ul class="editor_menu">
    <li><span id="new_script" class="enabled_link" data-behavior="popup">New</span></li>
    <li><span id="open_script" class="enabled_link" data-behavior="popup">Open</span></li>
    <li><span id="save_script" class="enabled_link" >Save</span></li>
    <li><span id="share_script"  class="disabled_link" data-behavior="popup" data-name="name_script" data-editor="get" data-act="POST">Share</span></li>
    
    <li><span id="shared_script" class="enabled_link" data-behavior="popup">Shared&nbsp;scripts</span></li>
    
    <li><span id="example_script" class="enabled_link" data-behavior="popup">Examples</span></li>
    
</ul>
    
    <span id="name_script">
        <?php if($is_shared) : echo $share_file_name; else: ?>
        Unnamed_script.lua
        <?php endif; ?>
    </span>
</div>
 
 <span id="save_script_name" data-behavior="popup" style="display: none;">save_script</span>

<div id="editor" style="display: none;">
</div>
    
<script src="ui/ace-builds-1.2.0/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="ui/scripts/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="ui/scripts/jquery.browser.min.js" type="text/javascript" charset="utf-8"></script>
<script src="ui/scripts/jquery.forms.js" type="text/javascript" charset="utf-8"></script>
<script src="ui/scripts/jquery.popup.js" type="text/javascript" charset="utf-8"></script>
<script src="ui/scripts/jquery.msgbox.js" type="text/javascript" charset="utf-8"></script>
<script src="ui/scripts/menu_editor.js" type="text/javascript" charset="utf-8"></script>
<script src="ui/scripts/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="ui/scripts/loader.js" type="text/javascript" charset="utf-8"></script>


<div id="share_content" style="display: none;">
    <?php if($is_shared) : echo $share_content; endif;?>
</div>


<script type='text/javascript'>
     var app_size = <?php echo $js_app_size ?>;
     var data_size = <?php echo $data_app_size ?>;
     var app_gzip = <?php echo $js_gzip ?>;
     var data_gzip = <?php echo $data_gzip ?>;
     
     var Module = {
        preRun: [],
        postRun: [],
        print: (function() {
          var element = document.getElementById('output');
          if (element) element.value = ''; // clear browser cache
          return function(text) {
            text = Array.prototype.slice.call(arguments).join(' ');
            console.log(text);
            if (element) {
              element.value += text + "\n";
              element.scrollTop = element.scrollHeight; // focus on bottom
            }
          };
        })(),
        printErr: function(text) {
          text = Array.prototype.slice.call(arguments).join(' ');
          if (0) { // XXX disabled for safety typeof dump == 'function') {
            dump(text + '\n'); // fast, straight to the real console
          } else {
            console.error(text);
          }
        },
		
		setStatus: function(text) {
			//if(text=="Running...")
			//{
			//	document.getElementById('progresscanvas').style.display = 'none';
			//	document.getElementById('canvas').style.display = 'block';
			//}
		
		},
        canvas: (function() {
          var canvas = document.getElementById('canvas');
          // As a default initial behavior, pop up an alert when webgl context is lost. To make your
          // application robust, you may want to override this behavior before shipping!
          // See http://www.khronos.org/registry/webgl/specs/latest/1.0/#5.15.2
          canvas.addEventListener("webglcontextlost", function(e) { alert('WebGL context lost. You will need to reload the page.'); e.preventDefault(); }, false);

          return canvas;
        })()
      };
      
      window.onerror = function(event) {
        // TODO: do not warn on ok events like simulating an infinite loop or exitStatus
        Module.setStatus('Exception thrown, see JavaScript console');
        Module.setStatus = function(text) {
          if (text) Module.printErr('[post-exception status] ' + text);
        };
      };
      
       Module.filePackagePrefixURL = 'emscripten_app/';
      
      LoadApp(app_size,data_size,app_gzip,data_gzip);
      
    </script>
</body>
</html>