<script type='text/javascript'>
    $('#modal_title').html('Open a script');
    var pathcontent = FS.lookupPath('/oflivescripts');
    
    for(var file in pathcontent.node.contents)
    {
        if(pathcontent.node.contents.hasOwnProperty(file))
        {
            $('#list_scripts').append('<tr class="script_row"><td>'+file+'</td></tr>');
        }
    }
    
    
    $(".script_row").click(function(e) {
         $('#name_script').text($(this).text());
         OFLIVE.opened_script = $(this).text();
         OFLIVE.readonly_script = false;
         $('#name_script').css('color','#ffffff');
         $('#save_script').attr('class','enabled_link');
         $('#share_script').attr('class','enabled_link');
         
         OFLIVE.backend_openscript($(this).text(),0,"none");
         $("#img_close").click();
    } );
    
</script>

<table id="list_scripts">
    
</table>