<script type='text/javascript'>
    $('#modal_title').html('save script');
    
    $('#savescript_form').submit(function(e){
           if($("#script_name").val())
            {
                $('#name_script').text($("#script_name").val()+".lua");
                OFLIVE.opened_script = $("#script_name").val()+".lua";
                $('#name_script').css('color','#ffffff');
                OFLIVE.readonly_script = false;
                $('#save_script').attr('class','enabled_link');
                $('#share_script').attr('class','enabled_link');
                
                OFLIVE.backend_savescript($('#name_script').text(),OFLIVE.editor.getValue());
                OFLIVE.backend_loadlua(OFLIVE.editor.getValue());
                
                $("#img_close").click();
            }
            else
            {
                $("#wait_div_popup").html("<span class='span_error'>Please input a script name!</span>");
            }
        
            return false;
        });
    
</script>


<form id="savescript_form" action="POST" >
    <fieldset>
        <legend>Please enter a script name</legend>
        
        Script Name: <input id="script_name" name="script_name" type="text" maxlength="255" /> <br/>
        
        <input type="submit" id="btn_simple_submit" name="btn_simple_submit">
    </fieldset>
</form>
