/**
**  ofLive: dropdown menu stylesheet, contains styling data for the editor menu
**/


ul.editor_menu {
    list-style: none;
    padding: 0 20px;    
    margin: 0;
    float: left;
    background: #222;
    font-size: 1.2em;
}
ul.editor_menu li {
    float: left;
    margin: 0;  
    padding: 0 15px 0 0;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}


ul.editor_menu li span.enabled_link{
    padding: 10px 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}
ul.editor_menu li span.enabled_link:hover{
    color: #ff0000;
}
ul.editor_menu li span { /*--Drop down trigger styles--*/
    height: 35px;
    float: left;
}

ul.editor_menu li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/

ul.editor_menu li span.disabled_link{
    padding: 10px 5px;
    color: #666;
    display: block;
    text-decoration: none;
    float: left;
    cursor: default;
}


ul.editor_menu li ul.editor_submenu {
    list-style: none;
    position: absolute; /*--Important - Keeps editor_submenu from affecting main navigation flow--*/
    left: 0; top: 35px;
    background: #333;
    margin: 0; padding: 0;
    display: none;
    float: left;
    width: 170px;
    border: 1px solid #111;
    z-index: 5;
}
ul.editor_menu li ul.editor_submenu li{
    margin: 0; padding: 0;
    border-top: 1px solid #252525; /*--Create bevel effect--*/
    border-bottom: 1px solid #444; /*--Create bevel effect--*/
    clear: both;
    width: 170px;
}
html ul.editor_menu li ul.editor_submenu li span {
    float: left;
    width: 164px;
    background: #333 no-repeat 10px center;
    padding-left: 2px;
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
}
html ul.editor_menu li ul.editor_submenu li span:hover { /*--Hover effect for editor_submenu links--*/
    background: #222 no-repeat 2px center; 
}