#modal-overlay 
{ 
    position: fixed; 
    z-index:100; 
    top: 0px; 
    left: 0px; 
    height:100%; 
    width:100%; 
    background: #000; 
    display: none; 
} 

#modal-header
{
	background-color: #c3e2ff;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	height: 20px;
	padding: 2px 4px 0px 4px;
}

#modal-header img
{
	/*margin-left: 94%;
	margin-top: 2px;*/
	cursor: pointer;
}

#modal-header table
{
	width: 100%;
}

#modal-innerwindow
{
	 background-color: white;
	 padding: 0px 5px 5px 5px;
	 border-bottom: 2px solid black;
	 border-left: 2px solid black;
	 border-right: 2px solid black;
}


#modal-window { 
    position: fixed; 
    z-index: 102; 
    display:none; 
    top:50%; 
    left:50%; 
} 

#modal-load{ 
    position: fixed; 
    height:19px; 
    width:220px; 
    background: url(ajax-loader.gif) no-repeat; 
    z-index:103; 
    top: 50%; 
    left: 50%; 
    margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */ 
} 

