#modal-overlay 
{ 
    position: fixed; 
    z-index:100; 
    top: 0px; 
    left: 0px; 
    height:100%; 
    width:100%; 
    background: #000; 
    display: none; 
} 

#modal-header
{
	background-color: black;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	height: 20px;
	padding: 2px 4px 0px 4px;
        color: white;
}

#modal-header img
{
	/*margin-left: 94%;
	margin-top: 2px;*/
	cursor: pointer;
}

#modal-header table
{
	width: 100%;
}

#modal-innerwindow
{
	 background-color: #222;
	 padding: 4px 4px 4px 4px;
	 border-bottom: 2px solid black;
	 border-left: 2px solid black;
	 border-right: 2px solid black;
}

#modal-innerwindow
{
    color:white;
}

#modal-innerwindow fieldset
{
    display:block;
    margin: 1.0em auto;
    text-align: center;
}

#modal-innerwindow input[type="text"]
{
    border: 1px solid white;
    background-color: #222;
    color: white;
}

#modal-innerwindow input[type="text"]:focus
{
    background-color: black;
}

#modal-innerwindow input[type="submit"]
{
    color: white;
    background-color:#222;
    border:1px solid white;
}


#modal-window { 
    position: fixed; 
    z-index: 102; 
    display:none; 
    top:50%; 
    left:50%; 
} 

#modal-load{ 
    position: fixed; 
    height:19px; 
    width:220px; 
    background: url(ajax-loader.gif) no-repeat; 
    z-index:103; 
    top: 50%; 
    left: 50%; 
    margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */ 
} 

.empty_list_span
{
    text-align: center;
    width: 100%;
}


.category
{
    color:lightgray;   
    font-style: italic;
    font-size: 1.2em;
}

